body{
    background-color: rgba(5, 38, 57, 0.866);
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(244, 244, 239);
    border-radius: 10px;
    
    border-style: solid;
    padding: 10px;

}
.name{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

   
}
.click{
    padding: 10px;
    font-size: 16px;
    border: solid;
    cursor: pointer;
    
    
}
.table{
    width: 100%;
    margin-top: 0%;
    background-color: azure;
    text-align: center;
    color: rgb(19, 20, 20);
    }
    