h1{
background-color: rgb(177, 204, 216);
display: block;
padding: 30px;
margin: auto;
border-radius: 10px;
font-family: 'Times New Roman', Times, serif;
font-size: 40px;
font-weight: bold;
letter-spacing: 1px;
text-decoration: underline;
color: #110f0f;
}
body{
    background-color: rgb(248, 249, 242);
    color: rgb(23, 22, 22);
    box-sizing: content-box;
    
}
.content{
   width: "15%"; 
   margin-top: 5%;
   margin-left: 3%;
   margin-right: 20%;
   margin-bottom: 3%;
   background-color: rgb(148, 211, 166);
   padding: 20px;

}
.hero{
    width: "15%";
   margin-bottom: 5%;
   margin-top: 0%;
   margin-left: 20%;
   margin-right: 3%;
   background-color: rgb(226, 153, 153);
   padding: 20px;
}
h1{
    position: relative;
}
.top-img{
position: absolute;
    top: 30%;
    right: 6%;
}
.link{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.class1{
    width: 400px;
    padding: 20px;
    border: 2px solid;
    border-radius: 10px;
    background-color: rgb(229, 214, 196);
    text-align: center;
}

.footer{
    margin-top: 4%;
    background-color: #37435f;
    color: white;
    text-align: center;
    padding: 20px;
}