*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;

}
header{
    padding: 16px 50px;   
}
.top-header{
    
    background-color: rgb(246,29,5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 74px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    
}
.logo img{
padding-left: 90px;

}
.delicon{
    margin-left: 40px;
}
.top-header i{
    color: rgb(249, 248, 248);


}
.searchbar{
    position: relative;
    padding-left: 300px;
    width: 0%;
    
}
.searchbar i{
    position: absolute;
    color: #111010;
padding-top: 10px;
padding-left: 30px;

}

.searchbar input{
    border-radius: 5px;
    border: 1px solid rgb(246, 239, 239);
    width: 420px;
   height: 40px;
}
.top-header select{
    background-color: transparent;
    border: none;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    color: aliceblue;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
    
    
}
.searchbar input::placeholder{
     color: #000000 ;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 15px;
     
}


.navicons{
    position: absolute;
    display: flex;
    gap: 35px;
    justify-content: flex-end;
    color: rgb(240, 244, 244);
    padding: 3px 20px;
    top: 2%;
    right: 4%;
    
    
}
.navitem{
display: flex;
flex-direction: column;
align-items: center;
cursor: pointer;
font-size: 13px;
color: rgb(231, 237, 237);
text-decoration: none;
margin-top: 10px;
}
.navitem image{
    width: 22px;
    height: 22px;
    cursor: pointer;
    
}
.navitem i{
    font-size: 22px;
    cursor: pointer;
    margin-bottom: 6px;
}
.navitem span{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
    color: white;
    padding-top: 5px;
}
.bottomheader{
    position: relative;
    padding: 20px 40px;
    background-color: rgb(255, 250, 250); 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 42px;
    border-bottom:1px solid #575757;
    box-shadow:0 2px 5px #616060;
   width: 100%;
    

}
.bottomheader a{

    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
    padding-left: 40px; 
    gap: 30px;  
   
}

.badge{
     position: absolute;
            top: 10px;
            right: 10px;
            background: rgb(235, 99, 26);
            color: azure;
            padding: 5px;
            font-size: 10px;
            border-radius: 8px;
            margin-right: 570px;
}
.logofixed{
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}
.menupart{
    background-color: #ffe8ee;
    width: 100%;
    height: 560px;
    padding-top: 40px;
    
    
}
.heading{
display: flex;
align-items: center;
flex-direction: column;
padding-bottom: 50px;
}
.top span{
    color: rgb(224, 42, 25);
    font-size:50px;
    font-style: normal;
    font-family:sans-serif;
    
    
}
.subtitle span{
    color: #211f34;
    font-style: normal;
    font-size:35px ;
}
.container{
    display:grid;
    grid-template-columns: repeat(6,minmax(50px,1fr));
    gap:40px;
    align-items: center;
    margin-left: 100px;
}
.card{
    display: flex;
    flex-direction: column;
    
  
}
.card img{
        
             width: 210px;
            height: 280px;
            border-radius: 20px;
            object-fit: cover;         
}
.card a{
    text-decoration: none;
}

 .card p{
    
    color: #060000;
    margin-top: 12px;
    padding-left: 60px;
    font-size: 20px;
    font-weight: bold;
}

.nextpart{
    background-color: #fcfbfb;
    width: 100%;
    height: 560px;
    padding-top: 40px;
    
    
}
.head{
display: flex;
align-items: center;
flex-direction: column;


}
.toppart span{
    position: relative;
    color: rgb(224, 42, 25);
    font-size:40px;
    font-style: normal;
    font-family:Arial, Helvetica, sans-serif;
    
      
    
}
.bottompart span{
    color: #5e686c;
    font-style: normal;
    font-size:35px ;
}
.head img{
    position: absolute;
    width:55px; 
    margin-right: 220px;
    margin-top: -10px;
    
}
.ratepart{
    display: grid;
    grid-template-columns: repeat(6,minmax(50px,1fr));
    gap:160px;
    align-items: center;
    margin-left: 65px;
 
 
}
.vegmark {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 17px;
    height: 15px;
    
}

.cakecard{
      position: relative;
    display: flex;
    flex-direction: column; 
}

.cakecard img:not(.vegmark){
        margin-top: 40px;
             width: 230px;
            height: 250px;
            border-radius: 20px;
            object-fit: cover; 
            justify-content: space-between;               
}

.cakecard a{
    text-decoration: none;
}

 .cakecard p{
   
    white-space: nowrap;
    color: #060000;
    margin-top: 12px;    
    font-size:18px;
    font-weight: bold;
  
    
}

.viewlink{
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 40px;

}
.promise{
    background-color: #f3e0e7;
    width: 100%;
    height: 500px;
    padding-top: 30px;
    
    
}
.headpro{
display: flex;
align-items: center;
flex-direction: column;


}
.topper span{
    position: relative;
    color: rgb(224, 42, 25);
    font-size:35px;
    font-style: normal;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    
      
    
}
.sub span{
    color: #5e686c;
    font-style:normal;
    font-size:30px ;

}
.pinkimages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    

}
.pinkimages img{
    width: 110px;
    height: 90px;
    margin-top: 60px;
}
.pinkimages h3{
    font-size: 20px;
}
.pinkimages p{
    width: 200px;
    text-align: center;
    font-size:18px ;
    margin-top: -10px;
    
}
.lorry{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.caketext{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.piece{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pinkgift{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.finalimage{
   
   background-color: #fbf8fa;
display:flex;
 width:100%;
 height:530px;
 padding-left:100px ;
 padding-right: 100px;
 padding-top: 40px;
 padding-bottom: 40px;

}
.final{
    position: relative;
}
.unlock {
position: absolute;
left: 45%;
bottom:26%;
background-color: #e20707;
border: none;
border-radius: 6px;
color: #fcfbfb;
font-size: 16px;
height: 50px;
cursor: pointer;
}
.heart{
display: flex;
align-items: center;
flex-direction: column;
    margin-bottom: 40px;



}
.hearthead span{
    
    color: rgb(224, 42, 25);
    font-size:40px;
    font-style: normal;
    font-family:Arial, Helvetica, sans-serif;
    
      
    
}
.bottomheart span{
    position: relative;
    color: #5e686c;
    font-style: normal;
    font-size:35px ;
}
.bottomheart img{
    position: absolute;
    width:55px; 
    margin-right: 220px;
    margin-top: -10px;
    
}
.reviews{
    display: grid;
   grid-template-columns: repeat(7,minmax(100px,1fr));
   gap: 10px;
   padding-bottom: 50px;
   

}
.reviews img{
    width: 200px;
    height: 300px;
   
    
}
.footer{
    box-sizing: border-box;
    background-color: #f4e5eb;
    width: 100%;
    height: 500px;
}
.topping p{
    padding-top: 40px;
    text-align: center;
    color: #060000;
    font-size: 32px;
}
.subscribe{
   display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
   
}

.subscribe p{
    color: #e20707;
     font-size: 30px;
     margin-left: 100px;    
     
   
}
.subscribe input {
    border-radius: 10px;
    border-color: #f01f1f;
    height: 50px;
    width: 500px;
    background-color: transparent;
    padding-left: 15px;
    
    

}
.subscribe input::placeholder{
    color: #e20707;
    font-size: 20px;
}
.footerlogo
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-right:800px;
    position: relative;
}

.socialicons{
    display: flex;
    gap: 15px;
    
}
.copy{
    color: #e20707;
    font-size: 20px;
}
.footerlinks{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   position: absolute;
   right: 300px;
   gap: 60px;
    
   
}
.footerlinks h4{
    color: #e20707;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
}
.footerlinks p{
   
    color: #e20707;
    cursor: pointer;
    font-size: 18px;
}
.footerlinks p:hover{
    color:#151415;
}


